.view {
  height: 352px;
  width: 180px;
  border: solid black;
  top: 0;
  left: 20;
  position: relative;
}

.brick {
  border: 1px solid black;
  height: 2px;
  width: 30px;
  background-color: black;
  position: absolute;
}

.person {
  width: 18px;
  height: 25px;
  top: 325;
  left: 30;
  position: absolute;
}